@page
@model RevenueCompanion.Presentation.Pages.Auth.AddPasswordModel
@{
    Layout = "_AuthLayout";
    var color = HttpContextAccessor.HttpContext.Session.GetString("color");
    var passwordAdded = ViewBag.passwordAdded;
}

@if (!String.IsNullOrEmpty(passwordAdded))
{
    <br />
    <br />
    <div class="alert alert-success">
        <strong>Success!!</strong> Password, added to your account successfully. You may now login.
    </div>
    <div class="form-group text-right">
        <div class="col-md-12">
            <a asp-page="/Auth/Login" class="btn btn-success w-md" style="background-color:@color;">
                Login
            </a>
        </div>
    </div>
}
else
{
    <p>
        <ul>
            <li class="text-danger">Passwords must have at least one lowercase ('a'-'z')</li>
            <li class="text-danger">Passwords must have at least one uppercase ('A'-'Z')</li>
            <li class="text-danger">Passwords must have at least one digit ('0'-'9')</li>
            <li class="text-danger">Passwords must have at least one non alphanumeric character('@@', '#', '$', '%', '^', '&', '+', '=')</li>
            <li class="text-danger">Passwords must have at least 8 characters length</li>
        </ul>
    </p>

    <form class="form-horizontal m-t-40" method="post" asp-page="/Auth/AddPassword" name="AddPasswordForm">
        <input asp-for="Code" type="hidden" />
        <input asp-for="UserId"  type="hidden"/>

        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group ">

            <div class="col-xs-12">
                <input class="form-control" type="password" required asp-for="Password" placeholder="Password" style="border-color:@color;">
            </div>
        </div>
        <div class="form-group ">

            <div class="col-xs-12">
                <input class="form-control" type="password" required asp-for="ConfirmPassword" placeholder="Enter Password Again" style="border-color:@color;">
            </div>
        </div>


        <div class="form-group text-right">
            <div class="col-md-12">
                <button type="submit" id="btnAddPassword" class="btn btn-success w-md" style="background-color:@color;">
                    Add Password
                </button>
            </div>
        </div>
    </form>
}
