@page
@model RevenueCompanion.Presentation.Pages.Auth.ForgotPasswordModel
@{
    Layout = "_AuthLayout";
    var color = HttpContextAccessor.HttpContext.Session.GetString("color");
    string isEmailInstructionSent = ViewData["Success"] != null ? ViewData["Success"].ToString() : "";
}

<br />
<br />
@if (isEmailInstructionSent == "Yes")
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Email reset instruction sent. Please check your register email
    </div>
}

<form class="form-horizontal m-t-40" method="post" asp-page="/Auth/ForgotPassword" name="LoginForm">
    <p>
        <div asp-validation-summary="All" class="text-danger"></div>
    </p>
    <div class="form-group ">
        <div class="col-xs-12">
            <input class="form-control" type="email" required asp-for="Email" placeholder="Email" style="border-color:@color;">
        </div>
    </div>



    <div class="form-group ">

        <div class="col-xs-12">
            <a asp-page="/Auth/Login" class="cr-styled">Go back to Login?</a>

        </div>
    </div>
    <div class="form-group text-right">
        <div class="col-md-12">
            <button type="submit" id="btnLogin" class="btn btn-success w-md" style="background-color:@color;">
                Get Password
            </button>
        </div>
    </div>
</form>