@page
@model RevenueCompanion.Presentation.Pages.Auth.ResetPasswordModel
@{
    Layout = "_AuthLayout";
    var color = HttpContextAccessor.HttpContext.Session.GetString("color");
    string isPasswordReset = ViewData["Successful"] != null ? ViewData["Successful"].ToString() : "";
}

<br />
@if (!string.IsNullOrEmpty(isPasswordReset))
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Email reset instruction sent. Please check your register email
    </div>
}

<form class="form-horizontal m-t-40" method="post" asp-page="/Auth/ResetPassword" name="LoginForm">
    <p>
        <div asp-validation-summary="All" class="text-danger"></div>
    </p>
    <input asp-for="Email" type="hidden" />
    <input asp-for="Code" type="hidden" />


    <div class="form-group ">

        <div class="col-xs-12">
            <input class="form-control" type="password" required asp-for="Password" placeholder="Password" style="border-color:@color;">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group ">

        <div class="col-xs-12">
            <input class="form-control" type="password" required asp-for="ConfirmPassword" placeholder="Confirm Password" style="border-color:@color;">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>


    <br />
    <div class="form-group text-right">
        <div class="col-md-12">
            <button type="submit" id="btnResetPassword" class="btn btn-success w-md" style="background-color:@color;">
                Update Password
            </button>
        </div>
    </div>
</form>