@page
@model RevenueCompanion.Presentation.Pages.Approval.CreditNoteRequestModel
@{
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Credit Note Request

            </div>
            <br />
            <div id="creditNoteRequestContainer"></div>

        </div>
    </div>
    <div id="cover-spin"></div>
</div>

@section Scripts{
    <script src="~/appscripts/creditnoteapprovalrequest.js" asp-append-version="true"></script>
}